<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div>
            <input v-model='input' @keyup.enter='put'><button @click='put'>送出</button>
        </div>
        <h1 v-model='input'>{{input}}</h1>
        <div>
            <ul>
                <li v-for='(item,index) in list'>{{item}}<button @click="gode(index)">刪除</button></li>
            </ul>
        </div>
    </div>
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js'></script>
    <script>
        let vm = new Vue({
            el: '#app',
            data:{
                list:[],
                input:''
            },
            methods: {
                put:function(){
                    this.list.push(this.input)
                    this.input=''
                },
                gode:function(index){
                    this.list.splice(index,1)
                }
            },
        })
    </script>
</body>
</html>